.topbar_container {
    display: flex;
    align-items: center;
    height: 5.5em;
    background-color: rgba(0,0,0,0.12);
    box-sizing: border-box;
    padding: 1em 4em;

    .topbar_logo {
        .topbar_logo_img {
            width: 10em;
        }
    }

    .topbar_content {
        .topbar_content_list {
            font-size: 0.9em;
            display: flex;   
            padding-left: 0;
            list-style: none;
            margin: 0 2em;
            letter-spacing: 0.1em;

            .topbar_content_item {
                margin-left: 1em;
                color: white;
                position: relative;
                padding: 1.5em 0;
                
                a {
                    text-decoration: none;
                    color: white;
                    padding: 1em;
                }

                ul {
                    display: none;
                }

                .topbar_item_root_list {
                    display: none;
                    list-style: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 0;
                    background-color: white;
                    box-shadow: 0px 2px 5px #f1f1f1;
                    
                    a {
                        color: #a3a3a3;
                        font-weight: 300;
                        padding: 0;
                    }

                    li {
                        padding: 1em 1.5em;
                        border-bottom: 1px solid #f1f1f1;
                        width: 13em;
                        position: relative;

                        .topbar_item_root_badge {
                            background-color: #f76570;
                            margin-left: 1.4em;
                            color: white;
                            border-radius: 3px;
                            font-size: 0.7em;
                            padding: 0.2em 0.7em;
                        }

                        .topbar_item_children_list {
                            position: absolute;
                            display: none;
                            left: calc(100% + 1em);
                            top: 0;
                            background-color: white;
                            list-style: none;
                            padding: 0;
                            width: 13em;

                            li {
                                width: 100%;
                            }

                            span {
                                background-color:#14b9d5;
                                margin-left: 0.5em;
                                color: white;
                                border-radius: 3px;
                                font-size: 0.7em;
                                padding: 0.2em 0.7em;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -1em;
                                width: 1em;
                                height: 100%;
                            }
                        }

                        &:hover {
                            background-color: #f9f9f9;

                            .topbar_item_children_list {
                                display: block;
                            }
                        }
                    }
                }
                
                &:hover {
                    .topbar_item_root_list {
                        display: block;
                    }
                }
            }

            .topbar_content_book_now {
                background-color: #ba71da;
                border-radius: 30px;
                width: 8em;
                height: 2.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(0.5em);
                min-width: 10em;
            }
        }
    }

    .topbar_menu {
        margin-left: auto;
        font-size: 1.8em;
        color: white;
        cursor: pointer;
        user-select: none;
    }
}

@media (max-width: 1200px) {
    .topbar_container {
        padding: 1em 1em;

        .topbar_content {
            display: none;
        }
    }
        
}