.topbar_container {
    display: flex;
    align-items: center;
    height: 5.5em;
    background-color: rgba(0,0,0,0.12);
    box-sizing: border-box;
    padding: 1em 4em;
    position: relative;

    .topbar_logo {
        .topbar_logo_img {
            width: 10em;
        }
    }

    .topbar_content {
        .topbar_content_list {
            font-size: 0.9em;
            display: flex;   
            padding-left: 0;
            list-style: none;
            margin: 0 2em;
            letter-spacing: 0.1em;

            .topbar_content_item {
                margin-left: 3em;
                color: white;
                position: relative;
                
                a {
                    text-decoration: none;
                    color: white;
                    padding: 1em;
                }

                ul {
                    display: none;
                }

                &:hover {
                    .topbar_item_root_list {
                        display: block;
                        position: absolute;
                        list-style: none;
                        padding: 0;
                        cursor: pointer;
                        background-color: white;
                        box-shadow: 0px 2px 5px #f1f1f1;
                        color: #a3a3a3;

                        li {
                            padding: 1em 2em;
                            border-bottom: 1px solid #a3a3a3;
                            width: 13em;

                            span {
                                background-color: red;
                                margin-left: 1em;
                            }

                            &:hover {
                                opacity: 0.3;
                            }

                            &:hover {
                                .topbar_item_children_list {
                                    display: block;
                                    position: absolute;
                                    
                                }
                            }
                        }

                        
                    }
                }
            }

            .topbar_content_book_now {
                background-color: #ba71da;
                border-radius: 30px;
                width: 8em;
                height: 2.5em;
                margin-top: -1em;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(0.5em);
                min-width: 10em;
            }
        }
    }

    .topbar_menu {
        margin-left: auto;
        font-size: 1.8em;
        color: white;
        cursor: pointer;
        user-select: none;
    }
}

@media (max-width: 1200px) {
    .topbar_container {
        padding: 1em 1em;

        .topbar_content {
            display: none;
        }
    }
        
}