.carousel_container {
    
    .carousel_short_info_container {
        display: flex;
        padding: 1em;

        .carousel_short_info_icon {
            img {
                width: 3em;
            }
        }
    
        .carousel_short_info_word {
            margin-left: 2em;
            height: 6px;

            .carousel_short_info_subword {
                color: #9a9a9a;

                .carousel_short_info_word_number {
                    margin-left: 0.5em;
                    padding: 0 0.8em;
                    font-size: 0.8em;
                    border-radius: 30px;
                    background-color: #f76570;
                    color: white;
                }
            }
        }    
    }    

    .carousel_short_info_price {
        background-color: #f76570;
        color: white;
        padding: 1em;
    }

    .carousel_slider_container {
        margin: auto;
        .carousel_slider {

            .carousel_slider_slide {
                position: relative;
                height: 35em;
                width: 60em;

                .carousel_slider_image {
                    height: 35em;
                    width: 60em;
                }
                
                @media (max-width: 1200px) {
                    height: 25em;
                    width: 40em;
                    .carousel_slider_image {
                        height: 25em;
                        width: 40em;
                    }
                }

                .carousel_slider_slide_description {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 2em;
                    color: white;
                    letter-spacing: 0.1em;
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
                    animation: swipeUp ease-out 1s;
                }
            }
        }
    }

    .carousel_info_nav {

        .carousel_info_nav_item {
            cursor: pointer;
            padding: 0.5em;

            &:hover {
                background-color: #f76570;
                color: white;
                border-radius: 30px;
                transition: background-color 0.3s ease-in, color 0.3s ease-in;
            }
        }

        .carousel_info_nav_item.active {
            background-color: #f76570;
            color: white;
            border-radius: 30px;
        }

        .carousel_nav_description {
            animation: fadeIn ease-in 0.3s;

            h3 {
                font-weight: bold;
                color: #555555;
                margin-bottom: 1em;
            }

            p {
                color: #9a9a9a;
                letter-spacing: 0.1em;
            }

            table {
                width: 100%;
                
                tr {
                    border-bottom: 1px solid #f1f1f1;
                    
                    td {
                        font-size: 1.1em;
                        padding: 1em 0.5em;

                        &:last-child {
                            color: #9a9a9a;
                        }
                    }
                }
            }

            .carousel_nav_description_icon {
                color: red;
                opacity: 0.5;
                margin-right: 1em;
            }
            .carousel_nav_description_icon.check {
                color: green;
            }
        }

        .carousel_nav_map {
            .carousel_nav_map_google {
                width: 100%;
                height: 30em
            }
        }

        .carousel_nav_photos {
            animation: fadeIn ease-in 0.5s;
            img {
                cursor: pointer;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swipeUp {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}