.proposal_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80em;

    .proposal_header {
        text-align: center;  
        
        h2 {
            font-weight: bold; 
            color: #555555;
        }

        div {
            color: #9a9a9a;
            font-weight: 200;
        }

        span {
            text-decoration: underline;
            text-decoration-color: #1bbc9b;
        }
    }    
}

.package_container {
    max-width: 80em;
    display: flex;
    flex-direction: column;
    margin: auto;

    .package_header {
        text-align: center;
        
        h6 {
            color: #9a9a9a;
            letter-spacing: 0.1em;
            font-weight: 300;
        }

        h2 {
            color: #555555;
            font-weight: bold;

            span {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    border-bottom: 5px solid #1bbc9b;
                    bottom: 20%;
                    left: 0;
                    width: 100%;
                    z-index: -1;
                }
            }
        }
    }
    .package_list {
        margin-top: 3em;
        display: flex;
    }

    &:first-child {
        margin-top: 0em;
    }
}