.header_container {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(95%);

    .header_content_container {
        padding: 10em 5em;
        display: flex;
        justify-content: center;
    
        .header_content {
            display: flex;
            flex-flow: column;
            align-items: center;
    
            //homepage
            .header_content_header {
                font-size: 3em;
                color: white;
                font-weight: bold;
    
                .header_content_holiday {
                    text-decoration: underline;
                    text-decoration-color: purple;
                }
            }
    
            .header_content_subheader {
                margin-top: 1.5em;
                color: white;
                word-spacing: 0.3em;
                font-weight: 300;
            }
    
            .header_search {
                margin-top: 3em;
                display: flex;
                align-items: center;
                background-color: white;
                border-radius: 3em;
                overflow: hidden;
                width: 100%;
                
    
                input {
                    width: 100%;
                    outline: none;
                    border: none;
                    padding: 0.5em 1em;
                }
    
                .header_search_icon {
                    font-size: 1.5em;
                    margin: 0 0.5em;
                }
            }
        }
    
        .header_activities {
            margin-top: 4em;
    
            .header_activities_item {
                display: flex;
                flex-flow: column;
                align-items: center;
                padding: 1em 2em;
                color: white;
                background-color: rgba(0, 0, 0, 0.21);
                font-weight: 200;
                margin-top: 3em;
                cursor: pointer;
    
                &:hover {
                    background-color: black;
                    opacity: 0.7;
                }
                
                .header_activities_icon{
                    font-size: 2em;
                }
            }
        }
    }

     //search 1
     .header_search_content {
        padding: 5em 10em;

        .header_content_search1_subheader {
            color: white;
            font-weight: 300;
        }
        
        .header_content_search1_header {
            margin-top: 0.5em;
            color: white;
            font-weight: bold;

            span {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    border-bottom: 5px solid #e27557;
                    width: 100%;
                    bottom: 0.3em;
                    left: 0;
                    z-index: -1;
                }
            }
        }

        .header_search_filter {
            box-sizing: border-box;
            margin-top: 4em;
            background-color: white;
            padding: 3em 4em;
            color: #555555;
            letter-spacing: 0.05em;
            position: relative;

            .header_search_filter_section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                h6 {
                    font-weight: bold;
                }

                .header_search_filter_section_input {
                    position: relative;
                    margin-top: 0.5em;

                    select {
                        //remove arrow down of select tag
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        border-radius: 30px;
                        background-color: #f9f9f9;
                        border: 1px solid #f1f1f1;
                        display: flex;
                        justify-content: space-between;
                        color: #a3a3a3;
                        outline:  none;
                        width: 100%;
                        padding: 0.5em 2em;
                        cursor: pointer;
                    }

                    .header_search_filter_section_input_icon {
                        position: absolute;
                        right: 2em;
                        top: 0.5em;
                        color: #a3a3a3;
                    }
                }

                .header_search_filter_section_date {
                    position: relative;
                    border-radius: 30px;
                    background-color: #f9f9f9;
                    border: 1px solid #f1f1f1;
                    display: flex;
                    justify-content: space-between;
                    color: #a3a3a3;
                    outline:  none;
                    width: 100%;
                    padding: 0.5em 2em;
                    cursor: pointer;

                    .header_search_filter_section_date_input {
                        width: 100%;

                        .header_search_filter_section_input_icon {
                            position: absolute;
                            right: 2em;
                            top: 0.5em;
                            color: #a3a3a3;
                        }
                    }

                    

                    .header_search_filter_section_date_calender {
                        position: absolute;
                        bottom: -1em;
                        transform: translateY(100%);
                        left: 0;
                        background-color: #555555;
                        z-index: 2;
                        width: 100%;
                        user-select: none;

                        .header_search_filter_section_date_calender_top {
                            display: flex;
                            justify-content: space-around;
                            padding: 1em 0;
                            background-color: #5d5d5d;

                            button {
                                outline: none;
                                border: none;
                                color: #878787;
                                background-color: #555555;
                                font-size: 0.6em;
                                letter-spacing: 0.2em;
                                padding: 0 0.2em;
                            }

                            .header_search_filter_section_date_calender_top_header {
                                font-size: 0.8em;
                                color: white;
                            }
                        }

                        .header_search_filter_section_date_calender_table {
                            width: 100%; 
                            font-size: 0.8em;

                            thead {
                                tr {
                                    th {
                                        font-weight: 400;
                                        text-align: center;
                                    }
                                }
                            }

                            tbody {
                                margin: 0.2em 0.2em;
                                tr {

                                    th {
                                        font-weight: 200;
                                        color: #fff;
                                        text-align: center;
                                        padding: 0.5em 0.2em;
                                    }

                                    .calender_passed_days {
                                        color: #a3a3a3;
                                    }

                                    .calender_current_day {
                                        background-color: #1bbc9b;
                                    }
                                }
                            }
                        }
                    }
                }

                

                .header_search_filter_price {
                    .header_search_filter_price_current {
                        font-weight: 300;
                    }
                }

                .header_search_filter_promotion {
                    input {
                        margin-top: 0.2em;
                    }

                    h6 {
                        font-weight: 300;
                        margin-left: 1em;
                    }
                }
            }

            .header_search_more_filter {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%) translateY(50%);
                color: white;
                background-color: #e27557;
                padding: 0.2em 2em;
                border-radius: 15px;
                letter-spacing: 0.1em;
                font-size: 0.9em;
                letter-spacing: 0.1em;
            }
        }

        .header_options {
            margin-top: 3em;
            color: white;
            display: flex;
            justify-content: space-between;

            .header_options_section {
                .header_options_section_item {
                    position: relative;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    font-size: 0.9em;

                    &:last-child {
                        margin-left: 2em;
                    }
    
                    .header_option_filter {
                        color: #a3a3a3;
                        position: absolute;
                        bottom: -1em;
                        transform: translateY(100%);
                        left: 0;
                        width: 10em;
                        display: none;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1em;
                            top: -1em;
                            left: 0;
                        }

                        
                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            
                            li {
                                background-color: #5d5d5d;
                                text-align: center;
                                font-weight: 300;
                                font-size: 0.8em;
                                padding: 0.8em 0;
                                cursor: pointer;

                                &:last-child {
                                    background-color: #555555;
                                }
                            }
                        }
                    }

                    &:hover {
                        .header_option_filter {
                            display: block;
                        }
                    }
                }

                .unselected_item {
                    color: #9a9a9a;
                }
                
                &:last-child {
                    font-size: 1.5em;
                    span {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



