.search1_container {

    .search1_package_list {
        .search1_packages_item {
            animation: fadeIn ease-in 0.5s;
        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}